@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #212326;
  font-weight: 300;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.options-card {
  margin: 1rem;
  width: 33%;
}

.options-card ion-icon {
  color: #008060;
  font-size: 50px;
}

.options-card h2, .options-card h3 {
  font-size: 1rem;
  margin: 0.5rem 0rem;
}

.options-card h2 {
  text-align: left;
  font-weight: 500;
}

.options-card h3 {
  color: #6b7177;
  text-align: left;
}

.partner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partner hr {
  width: 60%;
  margin: 3rem;
}

.partner .container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .container span {
  color: #008060;
  padding: 1rem;
  cursor: pointer;
}

.footer .container a {
  color: #008060;
}

.citation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.citation .container {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.citation .container h1, .citation .container h2 {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
}

.citation .container h2 {
  font-weight: 500;
}

.citation .container button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  background: #008060;
}

.citation .container button:hover {
  opacity: .9;
  cursor: pointer;
}

.header {
  background: url(images/bg.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .logo {
  height: 45px;
  width: calc(2.38699690402 * 60px);
  margin: 1rem 0rem 1.5rem 0rem;
}

.header h1 {
  font-weight: 700;
  color: #fff;
  font-size: 3.2rem;
  padding: 0.5rem;
  text-align: center;
}

.header h2 {
  font-weight: 500;
  color: #fff;
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: center;
}

.header h3 {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  margin: 1rem 0rem 2rem 0rem;
  text-align: center;
}

.header div {
  margin: 1.5rem 0rem 0rem 0rem;
}

.header input {
  width: 300px;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.header button {
  margin-left: 10px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  background: #212326;
}

.header button:hover {
  opacity: .9;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */